{% extends "base.html" %}

{% block content %}
    <div class="row mb-5">
        <div class="col col-md-12 d-flex justify-content-center justify-content-lg-start">
            <div id="color-picker-container"></div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Animations</h4>
            <form id="animationForm">
                <select class="form-control" id="exampleFormControlSelect1">
                    {% for animation in animations %}
                        <option value="{{ animation[0] }}">{{ animation[1] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Play Animation" class="btn btn-primary mt-3">
            </form>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">General</h4>
            <button id="disable" type="button" class="btn btn-danger">Disable</button>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="/static/js/simple-led.js"></script>
    <script src="/static/js/iro.min.js"></script>
{% endblock %}